.calendar {
  .title {
    margin-top: 16px;
    margin-left: 16px;
    font-size: 20px;
  }
  .calendar-item {
    margin: 12px 12px 0 12px;
    border-radius: 4px;
    padding: 8px;
    font-size: 20px;
  }
  .type-0 {
    color: white;
    background-color: #0d47a1;
    font-size: 30px;
    line-height: 30px;
  }
  .type-1 {
    color: white;
    background-color: #1b5e20;
    font-size: 30px;
    line-height: 30px;
  }
  .type-2 {
    color: white;
    background-color: #ad1457;
    font-size: 30px;
    line-height: 30px;
  }
  .type-3 {
    color: white;
    background-color: #800e3f;
    font-size: 30px;
    line-height: 30px;
  }
  .type-4 {
    background-color: #dce775;
    font-size: 20px;
    line-height: 20px;
  }
  .type-5 {
    color: white;
    background-color: red;
    font-size: 20px;
    line-height: 20px;
  }
}
